build/
!/sphinx/build/
.idea/
.vscode/
cmake-build-debug/
__pycache__
*.pyc
.DS_Store
*.egg-info/

*.json
*.so
*.o
*.vtu
*.vtk
*.xdmf
*.h5
*.face
*.node
tests/cpp/bin/
scratch/

demos/data/
/data/*
!/data/download-demo*
dtcc-demo-data/

*.lock
