a { color: #455F7D !important; }
a:hover { color: #F26C24 !important; }

.md-header { background-color: #899BAF !important; }
.md-header .md-header-title, .md-header .md-header-link { color: white !important; }

/* Ensure your custom logo is applied */




