name: demos

on:
  push:
    branches: [ develop, main ]
    paths-ignore:
      - 'docs/**'
  pull_request:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  # 1) Test the code on multiple Python versions + OSes
  test:
    name: Tests on ${{ matrix.os }} - Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.11, 3.12]
    
    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel pytest
          python -m pip install scikit-build-core cmake ninja pybind11 numpy
          python -m pip install dtcc-pyspade-native
          python -m pip install --no-build-isolation . # or `pip install -e .` for editable install
      
    #  - name: Run tests
    #    if: runner.os != 'Windows'
    #    run: |
    #      pytest tests/python/test*.py --maxfail=1 --disable-warnings --verbose
      - name: Run demos on Non-Windows
        run: |
          for file in demos/*.py; do
           if [ "$file" = "demos/download_data.py" ]; then
             echo "Skipping $file"
             continue
           fi
           echo "Running $file"
            python "$file"
          done
        if: matrix.os != 'windows-latest'  
     # - name: pip install Windows
     #   shell: pwsh
     #   run: |
     #    pip install .
         #if ($LastExitCode -eq 0) {
       #dtcc-download-demo-data
       # If dtcc-download-demo-data also succeeded, rename demo-data to data
       #if ($LastExitCode -eq 0) {
       # Move-Item -Path demo-data -Destination data
        #}
          #}
     #   if: matrix.os == 'windows-latest'
      - name: Run demos on Windows
        shell: pwsh
        run: |
           Push-Location demos
           $files = Get-ChildItem *.py
           foreach ($file in $files) {
           if ($file.Name -eq 'download_data.py') {
           Write-Host "Skipping $($_.Name)"
           continue
           }
           Write-Host "Running $($file.Name)"
           python $($file.Name)
           }
           Pop-Location
        if: matrix.os == 'windows-latest'
      #- name: run tests on MacOS/Linux
      #  run: cd demos && ls -alt
      #  if: matrix.os != 'windows-latest'
      #- name: run tests on MacOS/Linux
      #  run: cd demos && dir 
      #  if: matrix.os == 'windows-latest'

  notify:
    needs: test
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Slack notification on success
        if: ${{ needs.test.result == 'success' }}
        run: |
          SHORT_SHA=$(echo "${{ github.sha }}" | cut -c1-7)
          REPO_NAME="${{ github.repository }}"
          COMMIT_AUTHOR="${{ github.event.head_commit.author.name }}"
          COMMIT_MESSAGE="${{ github.event.head_commit.message }}"

          curl -X POST -H 'Content-type: application/json' \
            --data "{
              \"text\": \"✅ *SUCCESS*\\nRepository: \`${REPO_NAME}\`\\nCommit: \`${SHORT_SHA}\`\\nAuthor: ${COMMIT_AUTHOR}\\nMessage: ${COMMIT_MESSAGE}\"
            }" \
            ${{ secrets.SLACK_WEBHOOK_URL_GITHUB }}

      - name: Slack notification on failure
        if: ${{ needs.test.result == 'failure' }}
        run: |
          SHORT_SHA=$(echo "${{ github.sha }}" | cut -c1-7)
          REPO_NAME="${{ github.repository }}"
          COMMIT_AUTHOR="${{ github.event.head_commit.author.name }}"
          COMMIT_MESSAGE="${{ github.event.head_commit.message }}"

          curl -X POST -H 'Content-type: application/json' \
            --data "{
              \"text\": \"❌ *FAILURE*\\nRepository: \`${REPO_NAME}\`\\nCommit: \`${SHORT_SHA}\`\\nAuthor: ${COMMIT_AUTHOR}\\nMessage: ${COMMIT_MESSAGE}\"
            }" \
            ${{ secrets.SLACK_WEBHOOK_URL_DEVELOPMENT }}
   
